services:

  stats-db:
    image: postgres:16.1
    environment:
      POSTGRES_DB: stats
      POSTGRES_USER: stats
      POSTGRES_PASSWORD: stats
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U stats"]
      interval: 5s
      timeout: 5s
      retries: 5

  stats-server:
    build: ./stats/stats-server
    container_name: stats-server-container
    ports:
      - "9090:9090"
    depends_on:
      stats-db:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://stats-db:5432/stats
      SPRING_DATASOURCE_USERNAME: stats
      SPRING_DATASOURCE_PASSWORD: stats
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:9090/actuator/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10

  # Версия для этапа 1
  ewm-service:
    image: alpine:3.19
    container_name: ewm-service
    command: ["sh", "-c", "echo 'ewm-service disabled on stage 1' && sleep infinity"]